@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Marcellus", serif;
    background-color: #1d2a3f;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 6rem;
    display: flex;
    background-color: #10396D;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

header img {
    height: 5rem;
    width: auto;
    max-height: 7.875rem;
    align-items: center;
}

h1 {
  color: rgb(179, 179, 179);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.login {
  padding: 10px 35px; 
  right: 20px;
  position: absolute;
}

.login a {
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 110%;
}

footer {
    margin-top: 11.8rem;
    background-color: #143264;
    color: white;
    text-align: center;
    padding: 0.7rem;
    position: relative;
  }
  
