@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Marcellus", serif;
    background-color: #1d2a3f;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 6rem;
    display: flex;
    background-color: #10396D;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

header img {
    height: 5rem;
    width: auto;
    max-height: 7.875rem;
    align-items: center;
}

h1 {
  color: rgb(179, 179, 179);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.login {
  padding: 10px 35px; 
  right: 20px;
  position: absolute;
}

.login a {
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 110%;
}

footer {
    margin-top: 11.8rem;
    background-color: #143264;
    color: white;
    text-align: center;
    padding: 0.7rem;
    position: relative;
  }
  .lista-chamados {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    background-color: #1d2a3f;
    border-radius: 8px;
}
.chamado {
    flex: 1 1 calc(33.333% - 16px);
    background-color: #6c757d;;
    border: 1px solid #a3a9ad;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    color: #fff;
}

.chamado:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filtros, .btns {
  display: flex;
  align-items: center;
  gap: 15px;
}
.filtros-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}
body > .filtros,
body > .btns {
  margin: 20px 40px;
}
.filtros input,
.filtros select {
  padding: 10px 12px;
  width: 230px;
  background: #0f1b2e;
  border: 1px solid #304b78;
  border-radius: 6px;
  color: #e4e6eb;
  font-family: "Marcellus", serif;
}
.btns button {
  padding: 10px 18px;
  background: #1e63c7;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-family: "Marcellus", serif;
  font-size: 15px;
  transition: 0.2s ease;
  height: 42px;
  white-space: nowrap;
}

#btnReset { background: #555; }
#btnCriarChamado { background: #113f91; }

.btns button:hover { filter: brightness(1.2); }

.btns a button {
  height: 42px;
}

#titulo-chamados {
    color: white;
    margin-top: 2rem;
    margin-left: 2.5rem;
}

/* Responsive */
@media (max-width: 860px) {
  .login {
    flex-direction: column;
    height: auto;
  }
  .card-left,
  .card-right {
    width: 100%;
  }
  .card-right {
    height: 260px;
  }
  .card-left {
    padding: 36px;
  }
}

@media (max-width: 420px) {
  .brand h1 {
    font-size: 26px;
  }
}