@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Marcellus", serif;
}

header {
    width: 100%;
    height: 6rem;
    background-color: #10396D;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 5rem;
    width: auto;
    max-height: 7.875rem;
}

h1 {
    color: rgb(179, 179, 179);
}

img {

}