@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Marcellus", serif;
}

header {
    width: 100%;
    height: 6rem;
    background-color: #10396D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header img {
    height: 5rem;
    width: auto;
}

h1 {
    color: rgb(179, 179, 179);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.inicial-imagem {
    width: 100%;
    height: calc(100vh - 6rem);
    object-fit: cover;
    object-position: center top;
    display: block;

}

main {
    width: 100%;
    overflow: hidden; /* garante que nada saia do container */
    position: relative;
}

.user-login-icon a {
    color: rgb(179, 179, 179);
    font-size: 2rem;
    text-decoration: none;
}

.user-login-icon a:hover {
    opacity: 0.8;
}

.chamados-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
}

.bnt-chamados {
    display: inline-block;
    padding: 1.2rem 4rem;
    background-color: rgba(220, 220, 220, 0.9);
    color: #333;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.bnt-chamados:hover {
    background-color: rgba(225, 225, 225, 0.95);
    transform: translater;
}